.row {
    height: 50%;
    padding: 2em;
}
.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}
p {
    font-family: 'Montserrat', sans-serif !important;
    font-size: 1rem;
    color: #767676;
   }
   h3 {
    font-weight: bold;
    font-size: 34px;
    line-height: 41px;
    color: #343434;
    letter-spacing: 2px;
    font-family: 'Montserrat', sans-serif !important !important;
   }